#imagenlogo{
    padding-top: 70px;
    padding-left: 15px;
    width: 9000px;
}

#description{
    padding-top: 120px;
    text-align: center;
}

#description h1{
    font-size: 50px;
    font-weight: bold;
    padding-left: 50px;
}

#description h3{
    padding-top: 15px;
    padding-left: 15px;
}

#description p{
    padding-top: 15px;
    padding-left: 15px;
}

#ourhistory{
    text-align: center;
    padding-top: 50px;
}

#ourhistory h2{
    font-size: 30px;
}

#ourhistory p{
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
}